<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<%PUBLIC_URI%>/style.css" />
    <title>philosophy</title>
  </head>

  <body>
    <header>
      <h1>philosophy</h1>
    </header>

    <nav>
      <a href="<%BUILD_URI%>">home</a>
    </nav>

    <main>

      <p>
        you could read a more "personal" publications on my <a href="<%BUILD_URI%>plog">blog</a>. i just needed to throw it out, like i wrote i am not a psycho (yet).
      </p>

      <p>
        unfortunately i am a "human". i am the product of all that surrounds me. in the very deep we are nothing without all that social tags. i consider myself as an earth citizen; an earther.
      </p>

      <h3>== hate ==</h3>

      <p>
        i hate caps.
      </p>

      <p>
        i hate gods as well as demons. maybe hate is a heavy word. more accurate it could be: <i>i do not accept that my life needs to be ruled by an imaginary entity.</i>
      </p>

      <p>
        i hate society. but i like individuals.
      </p>

      <h3>== released into public domain ==</h3>

      <blockquote>
        any shit that you publish on any platform, or wrote it on a paper, even if you speak it out loud. it not belongs to you anymore.
      </blockquote>

      <p>
        recently i tripped with the <a href="https://en.wikipedia.org/wiki/WTFPL">do what the fuck you want to public license (wtfpl).</a> and contrary to the plain meaning, in it's first version you aren't allowed to change the "Fucking License", otherwise, the second ones allow you to change it only if you change the name of it too. why a license with such a name needs a second or even a third version of itself. and if it's not enough each version has a copyright for whom wrote it. what a shit!
      </p>

      <p>
        please be free to do whatever you want to do with all the source code, thoughts and any information (bit a bit) published over <a href="<%BUILD_URI%>">rabrux.space</a> and <a href="https://octoz.app">octoz.app</a> domain names.
      </p>

      <h3>== you are not your fucking khakis ==</h3>

      <p>
        long time ago i stop being a consumer, i mean i buy time to time but always trying to acquire just the very essential.
      </p>

      <p>
        as consumers we have been buying look instead of functionality, offers instead of needed.
      </p>

      <p>
        stop being an advertisement with legs! i do not use any labeling, sticker or printed clothes, as well as top branded stuff. i always look like a homeless but who cares! that gives me a free pass through poor and dangerous places, even, more that one cross to the opposite sidewalk.
      </p>

      <p>
        the main idea is not to be defined through your ownerships. remember <i>"things you own ends owning you"</i>.
      </p>

      <h3>== look for the bare necessities ==</h3>

      <blockquote>
        si mi familia me quiere ver, ya colgu&eacute; fotos en la pared.
      </blockquote>

      <p>
        i love and hate being a programmer because it consumes a lot of your time for many reasons, sometimes because your deadlines are unreachable others because you ends being addicted to the problem that you're been hired to solve. yes! we perceive a lot of money for our services, more than others professions in the market, but i think that is not enough after all that time consuming and your fifteen, thirty or whatever your company days off granted to you in a year. you need to spend more time with yourself and your closest circle.
      </p>

      <blockquote>
        ni mis estudios ni mi preparaci&oacute;n me librar&aacute;n de esta puta explotaci&oacute;n.
      </blockquote>

      <p>
        each that i can i fantasize and make projections about how to become a homeless without failing or dying in the process. i mean walk through the world without fear or knowing what i'll eat or dress, where i'll sleep or where i'll go next. i still working on that, that's my <i>Übermensch</i>.
      </p>

      <h3>== save the planet! ==</h3>

      <blockquote>
        ahora que se hunde el barco, me pides consideraci&oacute;n. ahora que se hunde el barco, me pides colaboraci&oacute;n...
      </blockquote>

      <p>
        who cares about the planet? the planet doesn't cares about your existence! in astronomic time you are nothing, you are less than nothing. then stop worrying about the fucking planet. grow up and accept your sporadic and unnecessary existance.
      </p>

      <h3>== you need to change &lt;something&gt; ==</h3>

      <blockquote>
        i started with the man in the mirror...
      </blockquote>

      <p>
        stop being "pissed off" if the world doesn't shares your convictions and ideals. and please "shut up". nobody needs your "you should do this", "you could do something", "do not do that", "stop using this", etcetera. maybe this is against to all above, but i hope you get it.
      </p>

      <h3>== no childs ==</h3>

      <blockquote>
        ye... no! i miss that boat.
      </blockquote>

      <p>
        children as well as dogs are better when they're not your own.
      </p>

      <h3>== epilogue ==</h3>

      <p>
        i always have been over analyzing people's behaviour since i can remember. i think that i been born like this... broken. maybe that carry me a lot of (non diagnosed) mental illness, but who knows.
      </p>

      <p>
        i am nobody and i like that way.
      </p>
    </main>

    <footer>
      <p>
        released into public domain.
      </p>
    </footer>
  </body>

</html>
